<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 接口的全类名-->
<mapper namespace="sherry.hosp.mapper.HospitalSetMapper">


    <select id="calCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM `hospital_set`;
    </select>


</mapper>